<collapsable-abstract-titles papers="cachable.recOriginAbstracts"></collapsable-abstract-titles>

<!-- see main.js and abstractlistgroupitem.js -->
<ul id="abstracts" class="list-group">
    <!-- Loading image/animation for getting recs -->
    <div class="loader-background loader-fade-animation" ng-if="gettingAbstractRecs">
        <div class="loader-position-wrap">
          <div class="loader-inner-blink"></div>
          <div class="loader-inner-circle"></div>
          <div class="loader-outer-circular"></div>
          <div class="loader-outer-circular loader-secondary-circular"></div>
        </div>
    </div>

    <div ng-repeat="paper in filteredPapers" class="fade-animation">
      <abstract-list-group-item paper="paper" selected-abstracts="cachable.selectedAbstracts">
        <like-btns id="{{paper.Id}}" like-status="cachable.paperLikeStatus[paper.Id]"></like-btns>
      </abstract-list-group-item>
    </div>
</ul>

<!-- Page Pagination -->
<Pagination class="clickable-pointer" total-items="paginationTotalItems" items-per-page="cachable.numPerPage" page="cachable.currentPage" max-size="maxSize" boundary-links="true" ng-show="moreThanOnePage">
</pagination>

<!-- get rec buttons at the bottom of the page -->
<get-rec-options show-options="cachable.selectedAbstracts.length > 0 && !gettingAbstractRecs" get-recs="abstractsRecFromSelected()" selected="cachable.selectedAbstracts">
</get-rec-options>
