<!-- Show search results based on query text -->
<button type="button" class="btn btn-primary" ng-click="backClick()">
    <span class="glyphicon glyphicon-arrow-left"></span> Back
</button>
 <ul id="objects" class="list-group"> 
    <div ng-repeat="result in fetchedResults" class="fade-animation">
        <li class="list-group-item" ng-if="result.Id.indexOf('User') > -1">
            <h4 class="list-group-item-heading" >{{result.Title + "  " + result.LastName + "  " + result.Id}}</h4>
        </li>
        <abstract-list-group-item paper="result" selected-abstracts="selectedAbstracts" ng-if="result.Id.indexOf('Paper') > -1"></abstract-list-group-item>
    </div>
</ul>
