<li class="list-group-item clickable-pointer" ng-click="selectedClick(); $event.stopPropagation();" ng-class="{'abstract-selected': selected}">
    <span ng-transclude></span>
    <button type="button" class="btn btn-primary" name="viewBtn" ng-click="viewAbstract(); $event.stopPropagation();">
        <span class="glyphicon glyphicon-search"></span>
    </button>
    <h4 class="list-group-item-heading" ng-bind-html="paper.Title"></h4>
    <span class="glyphicon glyphicon-ok pull-right" ng-show="selected"></span>
    <p class="list-group-item-text"> {{paper.authorData}} </p>
</li>
