<li class="list-group-item">
    <h4 class="list-group-item-heading user-list-item-heading">{{user.FirstName + " " + user.LastName }}</h4>
    <p class="list-group-item-text"> {{user.Institution}} </p>
    <button class='btn btn-info rec-heading-collapse-btn btn-sm' ng-click="click()">
      {{clickMsg}}
    </button>
</li>
<ul>
  <div ng-repeat="paper in user.abstracts track by $index" ng-show="showAbstracts">
    <abstract-list-group-item paper="paper" selected-abstracts="selectedAbstracts"></abstract-list-group-item>
  </div>
</ul>
